/* Menu.module.css */
.menuContainer {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

.navbar {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.navbar li {
  margin: 5px 10px;
  position: relative;
  cursor: pointer; 
}

.navbar li a,
.navbar li button,
.navbar li.fakeli {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  cursor: pointer; 
}

.navbar li:hover {
  cursor: pointer; 
}

.subMenuContainer {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0px 0px 10px;
  justify-content: left;
  box-shadow: 0px 0px 8px rgb(0, 0, 0);
}

.subMenu {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.subMenu li {
  margin-top: 10px;
  white-space: nowrap;
}

.error {
  color: #ff3333;
  margin-bottom: 15px;
}

.primaryButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logoutButton {
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.logoutButton:hover {
  text-decoration: underline;
  color: #4CAF50;
}

.userInfo {
  margin-left: auto; /* Выравниваем справа */
  padding: 0 15px;
  color: #000000;
  font-size: 14px;
}

.userInfo span {
  font-weight: bold;
  color: #000000;
}

/* Для мобильных устройств можно добавить адаптацию */
@media (max-width: 768px) {
  .userInfo {
    margin-left: 0;
    padding: 10px 15px;
    border-top: 1px solid #444;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .menuContainer {
    flex-direction: column;
    align-items: center;
  }
}